.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 2;
}

path {
    stroke-width: 3;
    fill: none;
}

.data1 {
    stroke: steelblue;
}

.data2 {
    stroke: orange;
}

.data3 {
    stroke: yellow;
}

.data4 {
    color: #00ff00;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.x.axis text {
    font-size: 14;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.y.axis text {
    font-size: 14;
}

.y.axisRight text {
    fill: orange;
}

.y.axisLeft text {
    fill: steelblue;
}

table.hive {
    width: 100%;
}

th {
    height: 30px;
    background-color: gray;
    color: white;
    border-right: double;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

td {
    border: inset;
    border-spacing: 5px;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 10px;
    font-family: "Arial";
    font-size: 12px;
    white-space: nowrap;
}

td:hover {
}

tr:hover {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
}

.big {
    font-size: 20px;
    height: 30px;
}

th.tsheader {
    padding-top: 5px;
    font-size: 12px;
    height: 30px;
}

.log-debug {
    background-color: rgb(225,225,225);
    color: rgb(50,50,50);
}

.log-info {
    background-color: rgb(200,255,200);
    color: rgb(0,0,0);
}

.log-warn {
    background-color: rgb(255,255,150);
    color: rgb(0,0,100);
}

.log-error {
    background-color: rgb(200,0,0);
    color: rgb(255,255,255);
}

.log-fatal {
    background-color: rgb(200,0,0);
    color: rgb(255,255,0);
}

.highlight-text {
    background-color: rgb(255,255,0);
    color: rgb(0,0,255);
}

.highlight-guid {
    background-color: rgb(200,200,255);
    color: rgb(0,0,0);
    border: outset;
    cursor: pointer;
}

#graph {
}

.legend-text {
    background-color: #d3d3d3;
    color: white;
}

.lineNumber {
    font-size: 12px;
    font-weight: normal;
}
